<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>My Bookings</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1>These are My BOOKINGS</h1>
    <%- include('footer.ejs') %>
  </body>
</html>
