<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page</title>
</head>
<body>
    <!-- Booking Container -->
<form method="POST" action="https://api.razorpay.com/v1/checkout/embedded">
    <input type="hidden" name="key_id" value="rzp_test_NgvoluByVG6t1J"/>
    <input type="hidden" name="amount" value="<%= data.amount %>"/>
    <input type="hidden" name="order_id" value="<%= data.id.replace(/\/$/, '') %>"/>
    <input type="hidden" name="name" value="Razorpay Gateway"/>
    <input type="hidden" name="description" value="A Wild Sheep Chase"/>
    <input type="hidden" name="image" value="https://cdn.razorpay.com/logos/BUVwvgaqVByGp2_large.jpg"/>
    <input type="hidden" name="prefill[name]" value="Gaurav Kumar"/>
    <input type="hidden" name="prefill[contact]" value="9123456780"/>
    <input type="hidden" name="prefill[email]" value="gaurav.kumar@example.com"/>
    <input type="hidden" name="notes[shipping address]" value="L-16, The Business Centre, 61 Wellfield Road, New Delhi - 110001"/>
    <input type="hidden" name="callback_url" value="https://rentalhours.onrender.com/bookingVerification"/>
    <input type="hidden" name="cancel_url" value="https://rentalhours.onrender.com/paymentCancel"/>
    <button>Pay Now</button>
  </form>
    
</body>
</html>