/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#results {
    text-align: left;
}
